.EntityCardWrapper{
    padding: 0.5rem 0;

    .EntityCard{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
        .Card{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            aspect-ratio: 1/1;
            width: 100%;

            .imgWrapper{
                border-radius: 12px;
                display: flex;

                transition: all 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.2);
                }


            }
            .Info{
                position: absolute;
                top: 0.25rem;
                right: 0.5rem;
            }
        }

    }
}

