.EntityCardWrapper{
    padding: 0.5rem 0;

    .Card{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 6rem;

        .imgWrapper{
            border-radius: inherit;
            overflow: hidden;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .img {
                max-height: 5rem;
                height: 100%;
                aspect-ratio: 1.25/1;

                transition: all 0.3s ease-in-out;

                cursor: zoom-in;

                filter: saturate(1);
                &:hover{
                    transform: scale(1.15);
                    filter: saturate(1.5);
                }
            }
        }

        .Name {
            position: absolute;
            left: 0.0625rem;
            bottom: 0.0625rem;
            color: var(--color-accent);
        }

        .transparent{
            opacity: 0.5;
        }

        .Info{
            position: absolute;
            top: 0.125rem;
            right: 0.125rem;
            cursor: help;
        }
    }
}

