.EntityCardWrapper{
    padding: 0.5rem 0;

    .EntityCard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        .Card{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            width: 8rem;

            .imgWrapper{
                transition: all 0.3s ease-in-out;

                cursor: zoom-in;
                &:hover{
                    transform: scale(1.3);
                }
            }

            .Info{
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                cursor: help;
            }
        }

    }
}

