

.EntityCardWrapper{
    padding: 0.5rem 0;

    .EntityCard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        .Card{
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            aspect-ratio: 1.25/1;
            .imgWrapper{
                border-radius: inherit;
                overflow: hidden;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .img {
                    max-height: 16rem;
                    height: 100%;
                    aspect-ratio: 1.25/1;

                    transition: all 0.3s ease-in-out;

                    cursor: pointer;

                    filter: saturate(1);
                    &:hover{
                        transform: scale(1.05);
                        filter: saturate(1.5);
                    }
                }
            }

            .Name {
                position: absolute;
                bottom: 0.125rem;
                left: 0.125rem;
                color: var(--color-accent);
            }

            .Info{
                position: absolute;
                top: 0.125rem;
                right: 0.125rem;
                cursor: help;
            }

            .transparent{
                opacity: 0.5;
            }
        }

        .s{
            width: 8rem;
            max-height: 8rem;
            .imgWrapper{
                .img {
                    max-height: 8rem;
                }
            }

        }

        .m{
            width: 16rem;
            max-height: 16rem;

            .img {
                max-height: 16rem;
            }
        }
    }
}